# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.pnpm-debug.log

# Logs
logs
*.log
*.log.*

# Testing coverage reports
coverage/
.nyc_output/

# Output of build tools
dist/
build/
.tmp/
temp/

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Linux files
*~

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# Optional environment files
.env
.env.local
.env.*.local

# IDEs
.idea/
*.sublime-workspace
*.sublime-project
*.swp

# Other common ignored files
*.tgz
*.bak
*.orig
